body {
    background-image: url(../images/printing_machine.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron, .card-header {
    background-color: rgb(54, 54, 223)
}

h1, h2, h3 {
    color: white;
}